*,::before,::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'century gothic';
}

header {
    position: relative;
    display: grid;
    max-height: 36px;
    background-color:#101517;
    grid-template-columns: 8% 72% 10% 10%;
    align-items: center;
}

.logo {
    background-color: #23282d;
}

.logo img {
    max-height: 36px;
    width: auto;
    object-fit: cover;
}

.news {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 4px;
    font-size: 8px;
    color: #ffffff;
}
.news img {
    max-height: 36px;
    width: auto;
    object-fit: cover;
}

.write {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 28px;
    background-color: #ffffff;
    margin-right: 10px;
    margin-bottom: 4px;
    font-size: 8px;
}

.write h1 {
    margin-left: 5px;
}

.info {
    display: flex;
    border-radius: 10px;
    background-color: #ffffff;
    height: 28px;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 4px;
}

.info img {
    max-height: 36px;
    width: auto;
    margin-left: 13px;
}

section {
    display: grid;
    height: 100vh;
    background-color: #ffffff;
    grid-template-columns: 20% 80%;
}

.nav-bar {
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #23282d;
}

.profile {
    position: relative;
    display: grid;
    grid-template-rows: 60% 40%;
    flex-direction: column;
    margin: 8px;
}

.profile-a {
    display: grid;
    position: relative;
    grid-template-columns: 20% 80%;
}

.profile-logo {
    display: flex;
    position: relative;
    justify-content: center;
}

.profile-logo img {
    height: 40px;
    width: auto;
    object-fit: cover;
    background-color: bisque;
}

.profile-info{
    font-size: 12px;
    color: #a2aab2;
}

.profile-info h1 {
    color: #eeeeee;
}

.profile-b {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    border-radius: 10px;
    margin: 5px;
}

.upgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background-color: #c9356e;
    margin: 5px;
}

.upgrade a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 16px;
    margin: 8px;
    overflow: hidden;
}

.content:hover {
    overflow: auto;
}

.content ul {
    list-style: none;
}

.content li {
    padding-top: 30px;
}

.content li a {
    text-decoration: none;
    color: #eeeeee;
}

.nav-item {
    text-decoration: none;
}

.nav-item:hover {
    text-decoration-line: underline;
    text-decoration-color: #eeeeee;
    text-decoration-thickness: 5px;
}

.nav-b {
    height: 30px;
    width: 100%;
    margin-left: 45px;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website {
    position: relative;
    display: grid;
    grid-template-rows: 5% 95%;
}

.website a {
    text-decoration: none;
}

.website-header {
    position: relative;
    display: grid;
    grid-template-columns: 24% 50% 26%;
}

.website-header-a {
    display: flex;
    height: 85%;
    margin: 5px;
    border: .5px solid #00000048;
    justify-content: center;
    align-items: center;
    color: #00000048;
    font-size: 12px;
}

.website-header-a a {
    color: #00000048;
    font-size: 12px;
}

.website-header-b {
    display: flex;
    height: 85%;
    margin: 5px;
    border: .5px solid #00000048;
    justify-content: center;
    align-items: center;
    color: #00000048;
    font-size: 12px;
}

.website-header-b a {
    color: #00000048;
    font-size: 12px;
}

.website-header-c {
    display: flex;
    height: 85%;
    margin: 5px;
    border: .5px solid #00000048;
    justify-content: center;
    align-items: center;
    background-color: #c9356e;
}

.website-header-c a {
    color: #eeeeee;
    font-size: 12px;
}

.website-content {
    display: grid;
    grid-template-rows: 30% 50% 20%;
}

.top {
    display: grid;
    grid-template-columns: 50% 50%;
}

.top-a {
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    color: #00000048;
    font-size: 16px;
}

.top-b {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    color: #00000048;
    font-size: 16px;
}

.mid {
    display: grid;
    grid-template-rows: 50% 30% 20%;
    margin: 100px;
}

.mid-a {
    font-size: 72px;
    text-decoration-line: underline;
}

.mid-a:hover {
    text-decoration-line: none;
}

.mid-a a {
    color: #101517;
}

.mid-b {
    font-size: 32px;
    color: #101517;
}

.mid-c {
    font-size: 16px;
    color: #23282d;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom a {
    color: #00000048;
}